{% extends 'zastepstwa/base.html' %}
{% block content %}
<h2>Przedmioty</h2>

<p><a class="btn" href="{% url 'zastepstwa:subject_new' %}">+ Dodaj przedmiot</a></p>

<table class="pure-table pure-table-horizontal full">
  <thead>
    <tr>
      <th>Kod</th>
      <th>Nazwa</th>
      <th style="width:160px;"></th>
    </tr>
  </thead>
  <tbody>
  {% for s in subjects %}
    <tr>
      <td>{{ s.code }}</td>
      <td>{{ s.name }}</td>
      <td>
        <a class="btn" href="{% url 'zastepstwa:subject_edit' s.id %}">Edytuj</a>
        <a class="btn" href="{% url 'zastepstwa:subject_delete' s.id %}">Usuń</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="3">Brak przedmiotów.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
